<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/mainLayout}">

<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Interview Schedule Details</title>
</head>

<body>
    <div id="mainBoard" layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="nav justify-content-start fs-4">
                        <li class="nav-item">
                            <a class="nav-link text-reset text-decoration-underline"
                                th:href="@{/interview-schedule/index}">Interview Schedule List</a>
                        </li>
                        <li class="nav-item d-flex ">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m9 5 7 7-7 7" />
                            </svg>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-reset text-decoration-none disabled" href="#"
                                aria-disabled="true">Interview Schedule Detail</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row mt-3 py-4 userBoardContent" id="userDetail">
            

                <div class="row d-flex justify-content-between mb-4">
                    <input type="hidden" name="id" id="id" th:value="${interviewSchedule.scheduleId}">
                    <div class="col-6 d-flex justify-content-start">
                        <span class="fw-bold w-25">Schedule title</span>
                        <span class="w-25" th:text="${interviewSchedule.interviewTitle}"></span>
                    </div>
                    <div class="col-6 d-flex justify-content-start">
                        <span class="fw-bold w-25">Job</span>
                        <span class="w-75" th:text="${interviewSchedule.jobTitle}"></span>
                    </div>
                </div>
                <div class="row d-flex justify-content-between mb-4">
                    <div class="col-6 d-flex justify-content-start">
                        <span class="fw-bold w-25">Candidate name</span>
                        <span class="w-25" th:text="${interviewSchedule.candidateName}"></span>
                    </div>
                    <div class="col-6 d-flex justify-content-start">
                        <span class="fw-bold w-25">Interviewer</span>
                        <span th:each="interviewer, iterStat : ${interviewSchedule.interviewers}">
                            <span th:text="${interviewer.fullName}"></span>
                            <span th:if="${!iterStat.last}">,&nbsp;</span>
                        </span>
                    </div>
                </div>
                <div class="row d-flex justify-content-between mb-4">
                    <div class="col-6 d-flex justify-content-start">
                        <span class="fw-bold w-25">Schedule Time</span>

                        <div class="w-50">
                            <span th:text="${interviewSchedule.scheduleDate}">22/02/2022</span> <br>
                            <span th:text="'From ' + ${scheduleFrom} + ' To ' + ${scheduleTo}"></span>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-start">
                        <span class="fw-bold w-25">Location</span>
                        <span class="w-25" th:text="${interviewSchedule.location}"></span>
                    </div>
                </div>
                <!-- Cột bên trái (Note) -->
                <div class="col-6 d-flex justify-content-start">
                    <span class="fw-bold w-25">Note</span>
                    <span class="w-75 text-wrap" style="word-wrap: break-word;" th:text="${interviewSchedule.notes}"></span>
                </div>

                <!-- Cột bên phải (Recruiter, MeetingID, Result, Status) -->
                <div class="col-6 px-0">
                    <div class="mb-2 d-flex justify-content-start">
                        <span class="fw-bold w-25">Recruiter owner</span>
                        <span class="w-75" th:text="${interviewSchedule.recruiterOwner}"> Doe</span>
                    </div>
                    <div class="mb-2 d-flex justify-content-start">
                        <span class="fw-bold w-25">MeetingID</span>
                        <span class="w-75" th:text="${interviewSchedule.meetingId}"></span>
                    </div>
                    <div class="mb-2 d-flex justify-content-start">
                        <span class="fw-bold w-25">Result</span>
                        <span class="w-75" th:text="${interviewSchedule.result}"></span>
                    </div>
                    <div class="mb-2 d-flex justify-content-start">
                        <span class="fw-bold w-25">Status</span>
                        <span class="w-75" th:text="${interviewSchedule.status}"></span>
                    </div>
                </div>
                <div class="row d-flex justify-content-center my-5">
                    <a class="btn btn-secondary " th:href="@{/interview-schedule/edit/{id}(id=${interviewSchedule.scheduleId})}">Edit</a>
                    <a class="btn btn-secondary d-none">Submit result</a>
                    <button type="button" class="btn btn-secondary ms-5" id="cancelButton">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>