<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">User Management</title>
</head>
<body>
<div id="mainBoard" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="nav justify-content-start fs-4">
                    <li class="nav-item">
                        <a class="nav-link text-reset text-decoration-underline" th:href="@{/offers}">Offer List</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="m9 5 7 7-7 7"/>
                        </svg>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-reset text-decoration-underline disabled" href="#" aria-disabled="true">Offer
                            details</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        function changeStatus(button) {
            const offerId = button.getAttribute('data-offer-id');
            const status = button.getAttribute('data-status');

            fetch(`/api/offers/${offerId}/status`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(status),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(data => {
                    alert(`Status updated to: ${status}`);
                    location.reload();
                })
                .catch((error) => {
                    console.error('There was a problem with your fetch operation:', error);
                });
        }
    </script>


    <div th:object="${offer}">
        <div class="card">
            <div class="card-header">
                <div th:switch="${offer.offerStatus}">
                    <div th:case="'Waiting for Approval'">
                        <button class="btn btn-primary">Edit</button>
                        <div>
                            <button class="btn btn-success" th:data-offer-id="${id}" data-status="Approved"
                                    onclick="changeStatus(this)">Approve
                            </button>
                            <button class="btn btn-danger" th:data-offer-id="${id}" data-status="Rejected"
                                    onclick="changeStatus(this)">Reject
                            </button>
                            <button class="btn btn-warning" th:data-offer-id="${id}" data-status="Cancelled"
                                    onclick="changeStatus(this)">Cancel Offer
                            </button>
                        </div>
                    </div>
                    <div th:case="'Approved'">
                        <button class="btn btn-info" th:data-offer-id="${id}" data-status="Waiting for Response"
                                onclick="changeStatus(this)">Mark as Sent to Candidate
                        </button>
                        <button class="btn btn-warning" th:data-offer-id="${id}" data-status="Cancelled"
                                onclick="changeStatus(this)">Cancel Offer
                        </button>
                    </div>
                    <div th:case="'Rejected'">
                        <!-- No actions available for rejected offers -->
                        <span>No actions available.</span>
                    </div>
                    <div th:case="'Waiting for Response'">
                        <div>
                            <button class="btn btn-success" th:data-offer-id="${id}" data-status="Accepted"
                                    onclick="changeStatus(this)">Accepted Offer
                            </button>
                            <button class="btn btn-danger" th:data-offer-id="${id}" data-status="Declined"
                                    onclick="changeStatus(this)">Declined Offer
                            </button>
                            <button class="btn btn-warning" th:data-offer-id="${id}" data-status="Cancelled"
                                    onclick="changeStatus(this)">Cancel Offer
                            </button>
                        </div>
                    </div>
                    <div th:case="'Accepted offer'">
                        <button class="btn btn-warning" th:data-offer-id="${id}" data-status="Cancelled"
                                onclick="changeStatus(this)">Cancel Offer
                        </button>
                    </div>
                    <div th:case="'Declined Offer'">
                        <!-- No actions available for declined offers -->
                        <span>No actions available.</span>
                    </div>
                    <div th:case="'Cancelled'">
                        <!-- No actions available for cancelled offers -->
                        <span>No actions available.</span>
                    </div>
                </div>

                <div class="card-tools">
                    <span th:text="'Created on ' + *{#temporals.format(createdAt, 'dd/MM/yyyy')} + ', last updated by admin' + ' ' + (*{#temporals.format(updatedAt, 'dd/MM/yyyy')} == ${currentDate} ? 'today': '' + *{#temporals.format(createdAt, 'dd/MM/yyyy')})"></span>
                </div>
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="candidate" class="form-label">Candidate *</label>
                        <span th:text="*{candidate.fullName}" class="form-control" id="candidate" readonly></span>
                    </div>
                    <div class="col-md-6">
                        <label for="job" class="form-label required">Job</label>
                        <span th:text="*{position}" class="form-control" id="job" readonly></span>
                    </div>
                    <div class="col-md-6">
                        <label for="Interview info" class="form-label required">Interview info</label>
                        <span th:text="*{interviewInfo}" class="form-control" id="Interview info" readonly></span>
                    </div>
                    <div class="col-md-6">
                        <label for="approver" class="form-label required">Approver</label>
                        <span th:text="*{approver.fullName}" class="form-control" id="approver" readonly></span>
                    </div>
                    <div class="col-md-6">
                        <label for="recruiterOwner" class="form-label required">Recruiter Owner</label>
                        <span th:text="*{recruiterOwner}" class="form-control" id="recruiterOwner" readonly></span>
                    </div>
                    <div class="col-md-6">
                        <label for="level" class="form-label required">Level</label>
                        <span th:text="*{level}" class="form-control" id="level" readonly></span>
                    </div>
                    <div class="col-md-6">
                        <label for="contractType" class="form-label required">Contract Type</label>
                        <span th:text="*{contractType}" class="form-control" id="contractType" readonly></span>
                    </div>
                    <div class="col-md-6">
                        <label for="contractPeriodFrom" class="form-label required">Contract Period From</label>
                        <span th:text="*{contractPeriodFrom}" class="form-control" id="contractPeriodFrom"
                              readonly></span>
                    </div>
                    <div class="col-md-6">
                        <label for="contractPeriodTo" class="form-label required">Contract Period To </label>
                        <span th:text="*{contractPeriodTo}" class="form-control" id="contractPeriodTo" readonly></span>
                    </div>
                    <div class="col-md-6">
                        <label for="basicSalary" class="form-label required">Basic Salary</label>
                        <span th:text="*{basicSalary}" class="form-control" id="basicSalary" readonly></span>
                    </div>
                    <div class="col-md-6">
                        <label for="offerStatus" class="form-label">Offer Status *</label>
                        <span th:text="*{offerStatus}" class="form-control" id="offerStatus" readonly></span>
                    </div>
                    <div class="col-md-6">
                        <label for="department" class="form-label">Department *</label>
                        <span th:text="*{department}" class="form-control" id="department" readonly></span>
                    </div>
                    <div class="col-md-6">
                        <label for="dueDate" class="form-label">Due Date *</label>
                        <span th:text="*{dueDate}" class="form-control" id="dueDate" readonly></span>
                    </div>
                    <div class="col-md-6">
                        <label for="notes" class="form-label">Notes</label>
                        <span th:text="*{notes}" class="form-control" id="notes" readonly></span>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <a th:href="@{/offers/edit/{id}(id=${id})}" class="btn btn-primary">Edit</a>
                    <a th:href="@{/offers}" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
