<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Offer</title>
</head>
<body>
<div id="mainBoard" layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <h4>Offer List</h4>
        </div>
    </div>
    <form id="searchForm" action="/offers" method="get">
        <div class="row d-flex justify-content-start">
            <div class="col-3">
                <div class="input-group">
                    <input type="text" class="form-control" id="searchOffer" name="search" placeholder="Search">
                    <button type="submit" class="btn btn-outline-secondary" style="pointer-events: none;">
                        <img src="/images/search.png" alt="search-icon" id="searchIcon">
                    </button>
                </div>
            </div>
            <div class="col-3">
                <select class="form-select" id="department" name="department" th:value="${department}">
                    <option value="">Select Department</option>
                    <option value="IT">IT</option>
                    <option value="HR">HR</option>
                    <option value="Finance">Finance</option>
                    <option value="Communication">Communication</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Accounting">Accounting</option>
                </select>
            </div>
            <div class="col-3">
                <select class="form-select" id="status" name="status" >
                    <option value="">Status</option>
                    <option value="Waiting for approval">Waiting for approval</option>
                    <option value="Approved">Approved</option>
                    <option value="Rejected">Rejected</option>
                    <option value="Waiting for response">Waiting for response</option>
                    <option value="Accepted">Accepted</option>
                    <option value="Declined">Declined</option>
                    <option value="Cancelled">Cancelled</option>
                </select>
            </div>
            <div class="col-3">
                <button type="submit" id="searchButton" class="btn"
                        style="background-color: #D9D9D9; font-weight: bold;">Search
                </button>
            </div>
        </div>
    </form>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn" style="background-color: #D9D9D9; font-weight: bold;" href="/offers/add">Add new</a>
        <button type="button" class="btn" style="background-color: #D9D9D9; font-weight: bold;" id="exportButton"
                data-toggle="modal" data-target="#exportModal">
            Export
        </button>
    </div>
    <div class="table-responsive-md p-0">
        <table class="table table-bordered table-striped ">
            <thead class="thead-light">
            <tr>
                <th>Candidate name</th>
                <th>Email</th>
                <th>Approved by</th>
                <th>Department</th>
                <th>Notes</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offer : ${offers}" th:if="${!offers.isEmpty()}">
                <td th:text="${offer.candidate.fullName}"></td>
                <td th:text="${offer.candidate.email}"></td>
                <td th:text="${offer.approver.fullName}"></td>
                <td th:text="${offer.department}"></td>
                <td th:text="${offer.notes}"></td>
                <td th:text="${offer.offerStatus}"></td>
                <td>
                    <a th:href="@{/offers/view/{id}(id=${offer.offerId})}" class="btn">
                        <img src="/images/visible.png" alt="info icon">
                    </a>
                    </a>
                    <a th:href="@{/offers/edit/{id}(id=${offer.offerId})}" class="btn">
                        <img src="/images/edit-button.png" alt="edit icon">
                    </a>
                </td>
            </tr>

            </tbody>
        </table>
        <tr th:if="${offers.isEmpty()} ">
            <div class="text-center mt-4">
                <p class="font-weight-bold">No item matches with your search data.</p>
            </div>
        </tr>
    </div>

    <div class="row" id="pagination">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end align-items-center">
                <li class="page-item">
                    <span th:text="${(currentPage + 1) * 10 < totalOffers} ? ${(currentPage + 1) * 10} + '/' + ${totalOffers} + ' rows' : ${totalOffers} + '/' + ${totalOffers} + ' rows'"></span>
                </li>
                <li class="page-item">
                    <a class="btn page-link" role="button"
                       th:href="@{/offers(keyword=${keyword}, page=${currentPage - 1})}"
                       th:classappend="${currentPage > 0} ? '' : 'disabled'"
                       th:attr="aria-disabled=${currentPage > 0} ? 'false' : 'true'">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
                        </svg>

                    </a>
                </li>
                <li class="page-item">
                    <a class="btn page-link" role="button"
                       th:href="@{/offers(keyword=${keyword}, page=${currentPage + 1})}"
                       th:classappend="${currentPage + 1 < totalPages} ? '' : 'disabled'"
                       th:attr="aria-disabled=${currentPage + 1 < totalPages} ? 'false' : 'true'">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exportModalLabel">Select Date Range</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="exportForm">
                        <div class="form-group">
                            <label for="startDate">Start Date:</label>
                            <input type="date" class="form-control" id="startDate" name="startDate" required>
                        </div>
                        <div class="form-group">
                            <label for="endDate">End Date:</label>
                            <input type="date" class="form-control" id="endDate" name="endDate" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="submitExport">Export</button>
                </div>
            </div>
        </div>
    </div>

    <div layout:fragment="js">
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const exportButton = document.getElementById("exportButton");
                const exportModal = document.getElementById("exportModal");

                exportButton.addEventListener("click", function () {
                    exportModal.classList.add("show");
                    exportModal.style.display = "block";
                    document.body.classList.add("modal-open");
                });

                const closeButton = exportModal.querySelector(".close");
                closeButton.addEventListener("click", function () {
                    exportModal.classList.remove("show");
                    exportModal.style.display = "none";
                    document.body.classList.remove("modal-open");
                });

                const submitExport = document.getElementById("submitExport");
                submitExport.addEventListener("click", function () {
                    const startDate = document.getElementById("startDate").value;
                    const endDate = document.getElementById("endDate").value;

                    if (!startDate || !endDate) {
                        alert("Vui lòng chọn cả ngày bắt đầu và ngày kết thúc.");
                        return;
                    }

                    window.location.href = "/api/offers/export/excel?startDate=" + startDate + "&endDate=" + endDate;

                    exportModal.classList.remove("show");
                    exportModal.style.display = "none";
                    document.body.classList.remove("modal-open");
                });
            });
        </script>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.getElementById('searchButton').addEventListener('click', function () {
        var form = document.getElementById('searchForm');
        var searchParams = new URLSearchParams(new FormData(form)).toString();
        window.location.href = '/offers?' + searchParams;
    });
</script>
</body>
</html>