<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Candidate Management</title>
</head>
<body>
<div id="mainBoard" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>Candidate</h4>
            </div>
        </div>

        <!-- Search form and Sort by role -->
        <div class="row d-flex justify-content-start">
            <div id="searchCandidateForm" class="list-form-search">
                <form action="#" class="row g-3">
                    <div class="col-auto">
                        <input class="form-control" type="search" name="search" id="searchCandidate"
                               aria-label="Recipient's username" aria-describedby="searchIcon" placeholder="Search"
                               th:value="${keyword}">
                        <img src="/images/search.png" alt="search-icon" id="searchIcon">
                    </div>
                    <div class="col-auto">
                        <select class="form-select" name="status" id="filterByStatus" th:value="${status}">
                            <option value="">Status</option>
                            <option value="Open" th:selected="${status} == 'Open'">Open</option>
                            <option value="Banned" th:selected="${status} == 'Banned'">Banned</option>
                            <option value="Waiting for interview" th:selected="${status} == 'Waiting for interview'">Waiting for interview</option>
                            <option value="Cancelled interview" th:selected="${status} == 'Cancelled interview'">Cancelled interview</option>
                            <option value="Passed interview" th:selected="${status} == 'Passed interview'">Passed interview</option>
                            <option value="Fail interview" th:selected="${status} == 'Fail interview'">Fail interview</option>
                            <option value="Waiting for approval" th:selected="${status} == 'Waiting for approval'">Waiting for approval</option>
                            <option value="Approved offer" th:selected="${status} == 'Approved offer'">Approved offer</option>
                            <option value="Rejected offer" th:selected="${status} == 'Rejected offer'">Rejected offer</option>
                            <option value="Waiting for response" th:selected="${status} == 'Waiting for response'">Waiting for response</option>
                            <option value="Accepted offer" th:selected="${status} == 'Accepted offer'">Accepted offer</option>
                            <option value="Declined offer" th:selected="${status} == 'Declined offer'">Declined offer</option>
                            <option value="Cancelled offer" th:selected="${status} == 'Cancelled offer'">Cancelled offer</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-end w-100 pe-4 pb-4">
            <a th:href="@{/candidates/create}" id="addNewButton" class="btn btn-secondary" sec:authorize="hasAnyAuthority('Admin', 'Manager', 'Recruiter')">
                Add new
            </a>
        </div>
        <!-- END Search form and Sort by role -->
                <div class="row">
                    <span th:if="${message}" th:text="${message}" class="text-success text-end fst-italic"></span>
                </div>
        <!-- User list table -->
        <div class="row table-data" id="candidateTable">
            <div class="col-12 table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone No.</th>
                        <th scope="col">Current Position</th>
                        <th scope="col">Owner HR</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody id="candidateList" class="table-body-data">
                    <tr th:each="candidate : ${candidates}">
                        <td th:text="${candidate.fullName}"></td>
                        <td th:text="${candidate.email}" style="background-color: #EBEFF3"></td>
                        <td th:text="${candidate.phoneNumber}"></td>
                        <td th:text="${candidate.currentPosition}" style="background-color: #EBEFF3"></td>
                        <td th:text="${candidate.recruiterOwner}"></td>
                        <td th:text="${candidate.status}" style="background-color: #EBEFF3"></td>
                        <td class="d-flex justify-content-center">
                            <a class="btn" th:href="@{/candidates/detail/{id}(id=${candidate.candidateId})}">
                                <img src="/images/visible.png" alt="info icon">
                            </a>
                            <a th:href="@{/candidates/edit/{id}(id=${candidate.candidateId})}" class="btn" sec:authorize="hasAnyAuthority('Admin', 'Manager', 'Recruiter')">
                                <img src="/images/edit-button.png" alt="edit icon">
                            </a>
                            <button type="submit" class="btn action-delete-btn" id="candidateDeleteBtn" data-bs-toggle="modal"
                                    data-bs-target="#candidateDeleteConfirmationModal"
                                    sec:authorize="hasAnyAuthority('Admin', 'Manager', 'Recruiter')">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                     viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2"
                                          d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                                </svg>
                            </button>
                            <div class="modal fade" id="candidateDeleteConfirmationModal" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form th:action="@{/candidates/delete/{id}(id=${candidate.candidateId})}" method="post">
                                            <div class="modal-body d-flex flex-column align-items-center justify-content-center">
                                                <p>Are you sure you want to delete this candidate?</p>
                                            </div>
                                            <div class="modal-footer d-flex justify-content-center">
                                                <button type="button" class="btn w-50 m-0 border-end"
                                                        data-bs-dismiss="modal">No
                                                </button>
                                                <button type="submit" class="btn w-50 m-0" id="jobDeleteOkBtn">Yes
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Pagination -->
            <div class="row" id="pagination">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-end align-items-center">
                        <li class="page-item">
                            <span th:text="${(currentPage + 1) * 10 < totalCandidates} ? ${(currentPage + 1) * 10} + '/' + ${totalCandidates} + ' rows' : ${totalCandidates} + '/' + ${totalCandidates} + ' rows'"></span>
                        </li>
                        <li class="page-item">
                            <a class="btn page-link" role="button"
                               th:href="@{/candidates(search=${keyword}, status=${status}, page=${currentPage - 1})}"
                               th:classappend="${currentPage > 0} ? '' : 'disabled'"
                               th:attr="aria-disabled=${currentPage > 0} ? 'false' : 'true'">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"
                                     viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="m15 19-7-7 7-7"/>
                                </svg>

                            </a>
                        </li>
                        <li class="page-item">
                            <a class="btn page-link" role="button"
                               th:href="@{/candidates(search=${keyword}, status=${status}, page=${currentPage + 1})}"
                               th:classappend="${currentPage + 1 < totalPages} ? '' : 'disabled'"
                               th:attr="aria-disabled=${currentPage + 1 < totalPages} ? 'false' : 'true'">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"
                                     viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="m9 5 7 7-7 7"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- END Pagination -->
        </div>
    </div>
</div>
</body>
</html>