<aside id="sidebar" class="expand" th:fragment="aside">
    <div class="d-flex justify-content-center align-items-center pt-4">
        <button class="toggle-btn" type="button">
            <img src="/images/right.png" alt="expand button">
        </button>
        <div id="sidebar-brand" class="sidebar-brand d-flex justify-content-center align-items-center">
            <img src="/images/dev.png" alt="Logo" class="nav-link-icon me-1">
            <span class="fw-bold">IMS</span>
        </div>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a class="sidebar-link d-flex flex-column justify-content-center align-items-center py-4"
               th:href="@{/}">
                <img src="/images/home.png" alt="Home" class="nav-link-icon">
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link d-flex flex-column justify-content-center align-items-center py-3"
               th:href="@{/}">
                <img src="/images/candidate.png" alt="Home" class="nav-link-icon">
                <span>Candidate</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link d-flex flex-column justify-content-center align-items-center py-3"
               th:href="@{/jobs/list}">
                <img src="/images/briefcase.png" alt="Home" class="nav-link-icon">
                <span>Job</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link d-flex flex-column justify-content-center align-items-center py-3"
               th:href="@{/interview-schedule/index}">
                <img src="/images/chat.png" alt="Home" class="nav-link-icon">
                <span>Interview</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link d-flex flex-column justify-content-center align-items-center py-3"
               th:href="@{/offers}">
                <img src="/images/file.png" alt="Home" class="nav-link-icon">
                <span>Offer</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link d-flex flex-column justify-content-center align-items-center py-3"
               th:href="@{/users}">
                <img src="/images/key.png" alt="Home" class="nav-link-icon">
                <span>User</span>
            </a>
        </li>
    </ul>
</aside>
