#searchCandidateForm img {
    position: relative;
    top: -50%;
    left: 85%;
}

#candidateList > tr > td > a, #candidateList > tr > td > form > button {
    padding: 6px 2px !important;
}

#candidateList > tr > td.d-flex.justify-content-center > a:nth-child(2) {
    margin: 0 2px;
}

#candidateTable {
    background-color: #F1F6FB;
}

#candidateTable thead th {
    background-color: #F2F2EE;
}

#candidateTable td, #candidateTable th {
    vertical-align: middle;
    text-align: center;
}