<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">User Management</title>
</head>
<body>
<div id="mainBoard" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="nav justify-content-start fs-4">
                    <li class="nav-item">
                        <a class="nav-link text-reset text-decoration-underline" th:href="@{/users}">User List</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="m9 5 7 7-7 7"/>
                        </svg>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-reset text-decoration-underline disabled" href="#" aria-disabled="true">Create
                            user</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row mt-3 py-4" id="createUserForm">
            <form th:action="@{/users/add}" method="post" th:object="${userDTO}">
                <input type="hidden" name="username" th:field="*{username}"/>
                <div class="row d-flex justify-content-between mb-3">
                    <div class="col-6 d-flex justify-content-between align-items-center">
                        <label for="fullName" class="w-25">Full name <span style="color: red">*</span></label>
                        <div class="d-flex flex-column w-75 ms-3">
                            <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"
                                  class="invalid-input-user text-danger"></span>
                            <input type="text" class="form-control" placeholder="Type a name..." id="fullName"
                                   th:field="*{fullName}">
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <label for="email" class="w-25 label-right">Email <span style="color: red">*</span></label>
                        <div class="d-flex flex-column w-75 ms-3">
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                  class="invalid-input-user text-danger"></span>
                            <span th:if="${error}" th:text="${error}" class="text-danger"></span>
                            <input type="text" class="form-control" placeholder="Type an email..." id="email"
                                   th:field="*{email}">
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-between mb-3">
                    <div class="col-6 d-flex justify-content-between align-items-center">
                        <label for="dateOfBirth" class="w-25">D.O.B</label>
                        <input type="date" class="form-control w-75 ms-3" id="dateOfBirth" th:field="*{dateOfBirth}">
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <label for="email" class="w-25 label-right">Address</label>
                        <input type="text" class="form-control w-75 ms-3" placeholder="Type an address..." id="address"
                               th:field="*{address}">
                    </div>
                </div>

                <div class="row d-flex justify-content-between mb-3">
                    <div class="col-6 d-flex justify-content-between align-items-center">
                        <label for="phoneNumber" class="w-25">Phone number</label>
                        <input type="text" class="form-control w-75 ms-3" placeholder="Type a phone number..."
                               id="phoneNumber" th:field="*{phoneNumber}">
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <label for="gender" class="w-25 label-right">Gender <span style="color: red">*</span></label>
                        <div class="d-flex flex-column w-75 ms-3">
                            <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"
                                  class="invalid-input-user text-danger"></span>
                            <select name="gender" id="gender" class="form-select" th:field="*{gender}">
                                <option value="">Select a gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-between mb-3">
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <label for="role" class="w-25">Role <span style="color: red">*</span></label>
                        <div class="d-flex flex-column w-75 ms-3">
                            <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}"
                                  class="invalid-input-user text-danger"></span>
                            <select name="gender" id="role" class="form-select" th:field="*{role}">
                                <option value="">Select a role</option>
                                <option value="Interviewer">Interviewer</option>
                                <option value="Recruiter">Recruiter</option>
                                <option value="Manager">Manager</option>
                                <option value="Admin">Admin</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <label for="department" class="w-25 label-right">Department <span
                                style="color: red">*</span></label>
                        <div class="d-flex flex-column w-75 ms-3">
                            <span th:if="${#fields.hasErrors('department')}" th:errors="*{department}"
                                  class="invalid-input-user text-danger"></span>
                            <select name="department" id="department" class="form-select" th:field="*{department}">
                                <option value="">Select a department</option>
                                <option value="IT">IT</option>
                                <option value="HR">HR</option>
                                <option value="Finance">Finance</option>
                                <option value="Communication">Communication</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Accounting">Accounting</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-between mb-3">
                    <div class="col-6 d-flex justify-content-between align-items-center">
                        <label for="status" class="w-25">Status <span style="color: red">*</span></label>
                        <div class="d-flex flex-column w-75 ms-3">
                            <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}"
                                  class="invalid-input-user text-danger"></span>
                            <select name="status" id="status" class="form-select" th:field="*{status}">
                                <option value="">Select a status</option>
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <label for="notes" class="w-25 label-right">Note</label>
                        <textarea name="notes" id="notes" cols="30" rows="4" placeholder="Type a note..."
                                  class="form-control w-75 ms-3" th:field="*{notes}"></textarea>
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-5">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                    <button type="button" class="btn btn-secondary ms-5" id="cancelButton">Cancel</button>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>