<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">User Management</title>
</head>
<body>
<div id="mainBoard" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="nav justify-content-start fs-4">
                    <li class="nav-item">
                        <a class="nav-link text-reset text-decoration-underline" th:href="@{/users}">User List</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="m9 5 7 7-7 7"/>
                        </svg>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-reset text-decoration-underline disabled" href="#" aria-disabled="true">View detail
                            user</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row mt-3 py-4 userBoardContent" id="userDetail">
            <div class="row mb-2">
                <div id="statusButtonContainer" class="col-12 d-flex justify-content-end">
                    <button id="activeUserButton" class="btn" th:classappend="${userDTO.status == 'Active'} ? 'btn-danger' : 'btn-success'"
                            th:text="${userDTO.status == 'Active' ? 'Deactivate user' : 'Activate user'}"
                            th:attr="data-user-id=${userDTO.userId}"></button>
                </div>
            </div>

            <div class="row d-flex justify-content-between mb-4">
                <input type="hidden" name="id" id="id" th:value="${userDTO.userId}">
                <div class="col-6 d-flex justify-content-start">
                    <span class="fw-bold w-25">Full name</span>
                    <span class="w-25" th:text="${userDTO.fullName}"></span>
                </div>
                <div class="col-6 d-flex justify-content-start">
                    <span class="fw-bold w-25">Email</span>
                    <span class="w-25" th:text="${userDTO.email}"></span>
                </div>
            </div>
            <div class="row d-flex justify-content-between mb-4">
                <div class="col-6 d-flex justify-content-start">
                    <span class="fw-bold w-25">D.O.B</span>
                    <span class="w-25" th:text="${userDTO.dateOfBirth}"></span>
                </div>
                <div class="col-6 d-flex justify-content-start">
                    <span class="fw-bold w-25">Address</span>
                    <span class="w-25" th:text="${userDTO.address}"></span>
                </div>
            </div>
            <div class="row d-flex justify-content-between mb-4">
                <div class="col-6 d-flex justify-content-start">
                    <span class="fw-bold w-25">Phone number</span>
                    <span class="w-25" th:text="${userDTO.phoneNumber}"></span>
                </div>
                <div class="col-6 d-flex justify-content-start">
                    <span class="fw-bold w-25">Gender</span>
                    <span class="w-25" th:text="${userDTO.gender}"></span>
                </div>
            </div>
            <div class="row d-flex justify-content-between mb-4">
                <div class="col-6 d-flex justify-content-start">
                    <span class="fw-bold w-25">Role</span>
                    <span class="w-25" th:text="${userDTO.role}"></span>
                </div>
                <div class="col-6 d-flex justify-content-start">
                    <span class="fw-bold w-25">Department</span>
                    <span class="w-25" th:text="${userDTO.department}"></span>
                </div>
            </div>
            <div class="row d-flex justify-content-between mb-4">
                <div class="col-6 d-flex justify-content-start">
                    <span class="fw-bold w-25">Status</span>
                    <span class="w-25" th:text="${userDTO.status}" id="userStatus"></span>
                </div>
                <div class="col-6 d-flex justify-content-start">
                    <span class="fw-bold w-25">Note</span>
                    <span class="w-25" th:text="${userDTO.notes}"></span>
                </div>
            </div>
            <div class="row d-flex justify-content-center my-5">
                <a th:href="@{/users/edit/{id}(id=${userDTO.userId})}" role="button" class="btn btn-secondary">Edit</a>
                <button type="button" class="btn btn-secondary ms-5" id="cancelButton">Cancel</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>