<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">User Management</title>
</head>
<body>
<div id="mainBoard" layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <h4>User list</h4>
        </div>
    </div>

    <!-- Search form and Sort by role -->
    <div class="row d-flex justify-content-start">
        <div class="col-3" id="searchForm">
            <form action="#">
                <div class="input-group mb-3">
                    <input class="form-control" type="search" name="keyword" id="searchUser" aria-label="Recipient's username" aria-describedby="searchIcon" placeholder="Search" th:value="${keyword}">
                    <button type="submit" class="btn btn-outline-secondary">
                        <img src="/images/search.png" alt="search-icon" id="searchIcon">
                    </button>
                </div>
            </form>
        </div>
        <div class="col-3" id="sortByRoleForm">
            <div>
                <select class="form-select" name="sortByRole" id="sortByRole">
                    <option value="Admin">Admin</option>
                    <option value="Recruiter">Recruiter</option>
                    <option value="Manager">Manager</option>
                    <option value="Interviewer">Interviewer</option>
                </select>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-end pe-4">
            <a th:href="@{/users}">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                </svg>
            </a>
        </div>
    </div>
    <!-- END Search form and Sort by role -->

    <!-- User list table -->
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-hover" id="userTable">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone No.</th>
                        <th scope="col">Role</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="userList">
                    <tr th:each="user : ${userDTOs}">
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.email}" style="background-color: #EBEFF3"></td>
                        <td th:text="${user.phoneNumber}"></td>
                        <td th:text="${user.role}" style="background-color: #EBEFF3"></td>
                        <td th:text="${user.status}"></td>
                        <td style="background-color: #EBEFF3">
                            <button type="button" class="btn">
                                <img src="/images/visible.png" alt="info icon">
                            </button>
                            <button type="button" class="btn">
                                <img src="/images/edit-button.png" alt="edit icon">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Pagination -->
        <div class="row" id="pagination">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end align-items-center">
                    <li class="page-item">
                        <span th:text="'10/' + ${totalUsers} + ' rows'"></span>
                    </li>
                    <li class="page-item">
                        <a class="btn page-link" role="button" th:href="@{/users(keyword=${keyword}, page=${currentPage - 1})}"
                           th:classappend="${currentPage > 0} ? '' : 'disabled'"
                           th:attr="aria-disabled=${currentPage > 0} ? 'false' : 'true'">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
                            </svg>

                        </a>
                    </li>
                    <li class="page-item">
                        <a class="btn page-link" role="button" th:href="@{/users(keyword=${keyword}, page=${currentPage + 1})}"
                           th:classappend="${currentPage + 1 < totalPages} ? '' : 'disabled'"
                           th:attr="aria-disabled=${currentPage + 1 < totalPages} ? 'false' : 'true'">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- END Pagination -->
    </div>
</div>
</body>
</html>